/* Defining CSS Variables */
:root {
    --bg-color: #EDEEF8;
    --title-bg-color: #9FC7CD;
    --primary-font-color: #465671;
    --secondary-font-color: #31343E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    display: inline;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-font-color);
    font-family: Helvetica, Arial, sans-serif;
}
/* Header Styles */
header {
    width: 100%;
    padding: 15px 0;
    background-color: #31343E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
}
header .logo-section a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-weight: bold;
    background-color: var(--title-bg-color);
    padding: 5px 5px 5px 50px;
}
header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
    padding: 5px 10px;
    border-bottom: 2px solid var(--title-bg-color);
}
header nav ul li a {
    text-decoration: none;
    color: var(--title-bg-color);
    font-size: 1.5vw;
} 
.hero {
    height: 350px;
    width: 100%;
    background-image: url("../images/space.jpg");
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* Section Styles */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}  
.section-title {
    border-right: 3px solid var(--secondary-font-color);
    flex: 1 25%;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    text-align: right;
}
.section-title h1 {
    font-size: 55px;
}
.section-content {
    flex: 1 70%;
    padding:  0 25px;
    display: flex;
    align-items: center;
}
.section-content p {
    padding: 10px 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    position: relative;
}
.project-item {
    border: 3px solid var(--title-bg-color);
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: var(--primary-font-color);
    position: relative;
    z-index: 1;
}
.project-item:hover .project-bg {
    opacity: 1;
}
.project-bg {
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s;
}

.project-item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 /span 2;
}
.project-bg-1 {
    background-image: url("../images/deathstar.jpg");
}
.project-bg-2 {
    background-image: url("../images/deathstar.jpg");
}
.project-bg-3 {
    background-image: url("../images/deathstar.jpg");
}
.project-bg-4 {
    background-image: url("../images/deathstar.jpg");
}
.project-bg-5 {
    background-image: url("../images/runbuddy.PNG");
}

.project-title {
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    opacity: 1;
}
.project-title h3, .project-title h4 {
    display: block;
}
.contact-container {
    width: 100%;
}
#contact-me ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
#contact-me ul {
    padding: 5px;
    
}
#contact-me ul li {
    display: flex;
}
#contact-me ul li a {
    padding: 5px;
    color: var(--primary-font-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid var(--primary-font-color);
}
.title-box {
    background-color: var(--title-bg-color);
    padding: 10px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    section {
        padding: 15px;
    }
    .section-title h1 {
        font-size: 36px;
    }
    header nav ul li a {
        font-size: 18px;
    }
    header .logo-section a {

    }
    .project-item {
        grid-column: 1 / span 3;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        padding: 0px 0px 15px 0;
    }
    header nav {
        flex: 1 100%;
        justify-content: center;
    }
    header nav ul {
        margin-top: 5%;
    }
    .logo-section h1 a {
        padding: 5px;
    }
    .section-title {
        flex: 1 100%;
    }
    .section-content {
        flex: 1 100%;
    }
    .section-title {
        text-align: center;
        border-right: none;
        border-bottom: 3px solid var(--secondary-font-color);
        justify-content: center;
        max-width: 50%;
        margin-bottom: 25px;
    }
    .section-title h3 {
        text-align: center;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
}